
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

    <main role="main" class="inner cover">
        <h1 class="cover-heading">WELCOME TO SOCCER MANAGER</h1>
        <p class="lead">Please use our system to create your club, and players. Also use this site to manage information concerning your club and players.</p>
        <p class="lead">
            <a asp-controller="Clubs" asp-action="AddClub" class="btn btn-lg btn-secondary">Create Club <i class="fas fa-caret-right"></i></a>

        </p>
    </main>

